<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Current Order!</title>
</head>
<body>
<h1>Welcome to orders!</h1>


<form method="POST" th:action="@{/orders}" th:object="${order}">
    <a th:href="@{/create}" id="another">Добавить еще одну шаурму</a><br/>
    <div class="container">
        <h3>Your Order:</h3>
        <hr/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>List</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shaurma: ${order.shaurmaList}">

                <td th:text="${shaurma}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit">Новый заказ</button>
</form>
</body>
</html>