<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Current Order!</title>
</head>
<body>
<h1>Welcome to orders!</h1>
<div class="container">

    <h3>Your Order:</h3>

    <hr/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>List</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">

            <td th:text="${order.shaurmaList}"></td>
        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/create}">
    <button type="submit">Добавить еще одну шаурму</button>
</form>
<form method="post">
    <button type="submit">Новый заказ</button>
</form>
</body>
</html>